[alias]
lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --graph --decorate --date=relative
st = status
br = branch
cm = commit -m
acm = commit -a -m
stage = ad
co = checkout
unstage = reset HEAD
po = remote prune origin
	
[user]
	name = Stu
	email = stuart.osborne@nordnet.se
[core]
	editor = vi
	excludesfile = /home/stos/.gitignore
        pager = delta
[interactive]
        diffFilter = delta --color-only
[delta]
        navigate = true # use n and N to move between diff sections
[diff]
	external = difft
[difftool "difft"]
	cmd = difft --color always

[push]
	default = simple
[merge]
        conflictstyle = diff3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[help]
	autocorrect = 1
